* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 9px;
  /*margin-bottom: 70px !important;*/ 
  background-color: rgb(245, 241, 241);
  min-height: 100vh;
}
.mynavbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px #2c2c2cde;
  padding-left: 15px;
  padding-right: 15px;
}
#logo {
  height: 75px;
  cursor: pointer;
}
#logo > img {
  height: 100%;
  width: auto;
}
#menu > ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
#menu > ul > li {
  color: black;
  padding: 11px 11px;
  font-size: large;
  transition: 0.3s all ease-in-out;
}
#menu > ul > li > a {
  text-decoration: none;
  color: inherit;
}
#menu > ul > li:hover {
  background-color: #2c2c2c;
  color: white;
}
.input {
  padding: 10px;
  width: 80px;
  height: 30px;
  background: none;
  border: 2px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 18px;
  color: #ffd52d;
  outline: none;
  transition: 0.5s;
}
.search_bar:hover {
  background-color: rgb(255, 255, 255) !important;
}
.box:hover input {
  width: 225px;
  background: #272133;
  border-radius: 10px;
  /* padding: 13px; */
  color: white;
}
.box {
  position: relative;
}
.box > i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #ffd52d;
  transition: 0.2s;
}
.box:hover i {
  opacity: 0;
  z-index: -1;
}
/* Navbar ends */
.main {
  padding: 15px;
}
.main > div {
  margin-bottom: 20px;
}
.container {
  width: 57% !important;
}
.carousel-inner {
  position: relative;
  height: 300px;
}
#details_dont_move {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid;
  color: #618eb5;
  font-weight: 600;
  font-size: medium;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(transparent, #9f9e9ead);
}
footer {
  /* position: absolute; */
  /* bottom: 2px; */
  background-color: #e0e0e0;
  /* left: 0; */
  width: 100%;
  padding: 6px 2px;
  text-align: center;
}
footer > span {
  margin: 0 20px;
  color: black;
  font-size: medium;
  font-weight: 600;
  text-transform: capitalize;
}

footer > span > a {
  text-decoration: none;
  color: black;
}
footer > span:hover,
footer > span > a:hover {
  color: #2f59a5;
  text-decoration: none;
}
footer > span:first-child:hover {
  color: black;
}
/* Section Prediction */

#secPre {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2px;
  align-items: center;
}
#secPre > div {
  padding: 12px;
  /* border: 1px dotted; */
}
#secPre > div:first-child {
  width: 100%;
}
#secPre > div > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
#secPre > div > ul > li > a {
  text-decoration: none;
  color: black;
}
.menu_btn {
  background-color: #d7d3d3;
  padding: 5px 15px;
  border: 1.5px solid #b6b6b6;
  box-shadow: 1px 2px 3px grey;
  border-radius: 20px;
  max-width: 200px;
}
.menu_btn > a {
  text-decoration: none;
  color: black;
}
.menu_btn:hover {
  margin-bottom: -3px;
  background-color: #c2c2c2ea;
  box-shadow: 1px 2px 6px grey;
  border-radius: 15px;
}
#predictor {
  display: flex;
  width: 100%;
  min-height: 300px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#predictor > div {
  display: inline-block;
  /* border: 1px solid; */
  height: 100%;
  padding: 11px;
}

/* Stess graph */
#stress_Graph {
    margin-top: 30px;
  min-height: 300px;
  padding: 25px !important;
  border: 1px solid #cbcbcb;
}
.element {
  align-items: center;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
  margin-bottom: 19px;
}

/* .element-1 {
    background: #afd275;
  } */

.element-2 {
  background: linear-gradient(
    -45deg,
    rgb(180 179 179 / 38%),
    rgb(255 255 255 / 58%)
  );
  box-shadow: -4px -1px 9px #b3b3b37a;
}
/*   
  .element-3 {
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  } */

