{% extends 'basic.html' %}
{% load static %}


<head>
    {% block title %}Login{% endblock %}
</head>
<body>
    
    {% block body %}
    <center><h1>Welcome to Login page</h1></center>
    <div >
        <button type="submit"><a href="http://127.0.0.1:8000/login_page/signup">Signup</a></button>
        <button type="submit"><a href="http://127.0.0.1:8000/login_page/signin">Login</a></button>
        <button type="submit"><a href="http://127.0.0.1:8000/login_page/signout">SignOut</a></button>
    </div>
    {% endblock %}
</body>